@charset "utf-8";

/* the charset is used to specifify the character encoding and the utf-8 is for the character. the @font face is used for the different types of fonts we put in also by using a sorce to link and format it. */
@font-face {
    font-family: Champagne;
    src: url('cac_champagne.ttf') format('woff'),
        url('cac_champagne.ttf') format('ttf');
}

@font-face {
    font-family: Grunge;
    src: url('1942.woff') format('woff'),
        url('1942.ttf') format('ttf');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('ttf');
}

/*

   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Dajah Medina
   Date:   9.6.18 
   
   Filename: ph_styles.css

*/
/* Structural Styles */
/*  the html is there because it is the type of document we are using and we are using a selector for the background color. We are doing the same for the body, but also adding in a font family. The same thing goes for the header. The p tag has a selector for the margin(the space between), and the padding for the paragraphs. After that we add in a body tag and a p tag with a ">" to show that it is the child of the body. Lastly we put in an address with a font syle and size. We then align it tothe center and add padding to the top and bottom.   */
html {
    background-color: hsl(91, 8%, 56%);
}

body {
    background-color: hsl(58, 31%, 84%);
    font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
}

header {
    background-color: black;
}

p {
    margin: 0px;
    padding: 5px 25px 25px 25px;
}

body>p {
    font-size: 1.1em;
    text-align: center;
}

address {
    font-style: normal;
    font-size: 0.9em;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Navigation Styles */
/* We add a nav and ancor it with a selector. We then add a font stack and padding for the top and bottom. Next we adda nav and ancor it with a link and do the same for visited to change the color to white and take off the undrline of the link with a background color. After we put the same thing but just change it hover and active  without a text-decoration.   */
nav a {
    font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a:link,
nav a:visited {
    color: white;
    text-decoration: none;
    background-color: hsla(0, 0%, 42%, 0.4);
}

nav a:hover,
nav a:active {
    color: hsla(0, 0%, 100%, 0.7);
    background-color: hsla(0, 0%, 42%, 0.7);
}

/* Section Styles */
/* next we add in the section.playbill and an h1 heading with a slector for a font size, weight, margin, and padding. Next we add in a section#play1 and a selector for the background color. you do the same thing for play 2 3 4. Now instead  of puting in a background color, we would put in font stack for paly 1 2 3 and 4. Then we put in a dt and selector with a font size, weight, and color. Lastly, we add in a dd with a selector for font size, margin-left and margin-bottom.  */
section.playbill h1 {
    font-size: 3em;
    font-weight: normal;
    margin: 0px;
    padding: 20px 0px 10px 20px;
}

section#play1 {
    background-color: hsl(240, 100%, 88%);
}

section#play2 {
    background-color: hsl(25, 88%, 73%);
}

section#play3 {
    background-color: hsl(0, 100%, 75%);
}

section#play4 {
    background-color: hsl(296, 86%, 86%);
}

section#play1 h1 {
    font-family: Champagne, cursive;
}

section#play2 h1 {
    font-family: Grunge, ‘Times New Roman’, Times, serif;
}

section#play3 h1 {
    font-family: Impact, Charcoal, sans-serif;
}

section#play4 h1 {
    font-family: Dobkin, cursive;
}

/* Description List Styles */
dt {
    font-size: 1.3em;
    font-weight: bold;
    color: hsla(0, 0%, 0%, 0.4);
}

dd {
    font-size: 1.3em;
    margin-left: 0px;
    margin-bottom: 10px;
}